

body { background-color: beige ;
       font-family: Arial, Helvetica, sans-serif;
}
header  { overflow: auto; background-color: rgb(8, 12, 204); border-radius: 15PX;

 }
 nav {float:right; }
 ul{padding: 10px; margin: 10px; list-style: none;}
h1 {font-family: 'Aref Ruqaa', serif;
    font-family: 'Markazi Text', serif; }

main {font-family: 'Aref Ruqaa', serif; position: relative; height: 70;
    font-family: 'Markazi Text', serif; font-size: 30px; font-weight: 100;padding: 20px; margin: 0px 50px ; 
 }
.logo {font-size: 1.5em;letter-spacing: 2px; padding: 10px 15px; }
footer { background-color: bisque;}
#introdaction {padding: 20px; margin: 0px 50px ; }
/* #img1 {position: ; } */
h5 {background-color: rgba(165, 42, 42, 0.404); border:5px solid darkblue ; border-radius: 100 px; position: relative; text-align: right;}
#content {border: 10px solid navajowhite;}
a {color: rgb(234, 231, 235); text-decoration:none; padding: 20px 15px; }
a:hover{color: rgb(240, 31, 16);}
a:active{color:rgba(223, 247, 14, 0.514)}
aside {  padding: 50PX 100PX  }
